*{
	margin: 0;
	padding: 0;
	
	
}

html {
	min-height: 100%;
	background: background-image: url(images/background1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left-side;
	background-attachment: fixed;
	
	
}


	
	
	
	
nav{
	display: flex; 
	padding: 3% 6%;
	justify-content: space-between;
	align-items: center;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 10px 14px;
	position: relative; 
}
.nav-links ul li a{
	text-decoration: none;
	font-size: 25px;
	color: #802b00;
}
	
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #802b00;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}



.texttrans-box{
	

	border: 30px;
	margin-left:20%;
	margin-right:20%;
	position: absolute;
	
	text-align: left;
	background-color: #FFFFFF;
	opacity: 0.9;
	padding-left: 10px;
	padding-right: 10px;
	border-style: solid;
	border-width: 3px;
	border-color: ##802b00;
	font-size: 22px;
	color: #ffcc66;

}

.texttrans-box h1 {
	color: #000000;
	font-weight: bold;
}
	

.texttrans-box h3 {
	color: #FFA500;
	font-weight: bold;

}
	
.texttrans-box p {
	color: #000000;
	font-weight: lighter;
	
	}

.texttrans-box i {
	color: #FFA500;
	
}




@media (max-width: 750px) {
	html {
		min-height: 100%;
		background: #bfbfbf;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		
		
		
	}
	
.img {
	display: inline-block;
	width: 75%;
	height: auto;
	}
	
.texttrans-box {
	border: 30px;
	margin-left:5%;
	margin-right:5%;
	position: absolute;
	
	text-align: center;
	background-color: #ffffff;
	 
	opacity: 0.9;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	font-size: 22px;
	color: #ffcc66;
	}
		
.texttrans-box h1 {
	color: #000000;
}
	

.texttrans-box h3 {
	color: #802b00;

}
	
.texttrans-box p {
	color: #000000;
	
	}


	
}


	
		
		
	

	


